[package]
name = "zigbee-core"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
nom.workspace = true
bitvec.workspace = true
