[package]
name = "zigbee-hal"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
zigbee-core = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
serde = { workspace = true }